/node_modules
/public/hot
/public/storage
/storage/*.key
/public/mix-manifest.json
/public/favicon.ico
/public/assets
/vendor
.env
.env.backup
.phpunit.result.cache
.setup-complete
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
.idea/
.DS_*
._DS*

# No lock files, allow updates for security
# ... manage versions, rely on CI and TDD
composer.lock
package-lock.json
