.contact {
    &__image {
        position: relative;
        width:100%;
        float:left;
        margin-right:10px;
        border: solid 5px #b1b4b6;
        border-radius: 5px;

        &__with-content {
            width:auto;
            border-radius: 3px;
            border-width: 3px;
        }
    }
}
