.crud-index-header {
    .govuk-grid-column-one-third {
        text-align: right;
    }
}

.crud-index-table {
    .govuk-table__header {
        > small {
            font-weight: 400;
        }
    }
}

.align-right {
    text-align: right;
}

a.align-right {
    float: right;
}
