name: CI
on: [ push, workflow_dispatch ]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: php-actions/composer@v6
        with:
          php_version: 8.0

      - name: Launch TDD process using PHPUnit
        uses: php-actions/phpunit@v3
        with:
          bootstrap: vendor/autoload.php
          configuration: phpunit.xml
        env:
          TEST_NAME: TPCentre
          APP_KEY: base64:2NCh00CfUJ89QkCz2Ez8jMMkRnlR81pFLCdN/Mp4O5Q=
